#particles-js {
  background: #fffff;
  height: 400px;
}

body,html {
  height: 100%;
  margin:0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height:1.8em;
  color: #666;
}

.container_module {
  max-width: 960px;
  margin: 0 auto;
}

.section {
  height: 400px;
}

section.module h2 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}

section.module.content {
  padding: 40px 0;
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}

.pimg1, .pimg2, .pimg3 {
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg1{
  background-image: url('../img/ittakes.jpg');
  min-height: 400px;
}

.pimg2{
  background-image: url('../img/computer.jpg');
  min-height: 400px;
}

.pimg3{
  background-image: url('../img/books.jpg');
  min-height: 400px;
}

.pimg4{
  background-image: url('../img/desktop.jpg');
  min-height: 400px;
}

.page-footer.indigo.center-on-small-only.pt-0{
  background-color: #E0DDDD;
}

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

a:link {
color: black;
}
a:visited {
color: black;
}
a:hover {
color: black;
}
